@font-face {
  font-family: Vazir Code;
  src: url("Vazir-Code.eot");
  src: url("Vazir-Code.eot?#iefix") format("embedded-opentype"), url("Vazir-Code.woff") format("woff"), url("Vazir-Code.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Vazir Code Hack;
  src: url("Vazir-Code-Hack.eot");
  src: url("Vazir-Code-Hack.eot?#iefix") format("embedded-opentype"), url("Vazir-Code-Hack.woff") format("woff"), url("Vazir-Code-Hack.ttf") format("truetype");
  font-weight: normal;
}

pre,
code {
  font-family: "Vazir Code", "Vazir Code Hack", monospaced;
}

:root {
  --Font: Behdad, "Rubik", sans-serif;
  --BorderColor: Black;
  --Border: var(--BorderColor) solid 2px;
  --BorderRadius: 5px;
  --BackgroundColor: white;
  --FontColor: black;
}

body,
h1,
h2,
h3 {
  font-family: var(--Font);
}

#one-post-in-list,
#header-menu ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

#header-menu ul {
  list-style-type: none;
  padding-inline-start: 0;
}

body {
  margin: auto;
  max-width: 800px;
  padding: 0 40px;
}

#rss-and-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

i {
  margin-left: 5px;
}

#rss-icon:hover,
#like-buttons a:hover {
  text-decoration: none;
}

#footer {
  text-align: center;
}

#post-category {
  border: var(--Border);
  border-radius: var(--BorderRadius);
  padding: 5px;
}

#one-post-in-list :not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

a {
  text-decoration: none;
  color: var(--FontColor);
}

a:hover {
  text-decoration: underline;
}

#title p {
  color: #666;
  margin-block-start: 0;
  margin-block-end: 2em;
}

hr {
  border-style: solid;
  border-radius: var(--BorderRadius);
}

img:not([src^="https://blog.ir/media/script/"])
{
  max-width: 100%;
  height: fit-content;
  border: var(--Border);
  border-radius: var(--BorderRadius);
}

img[src^="https://blog.ir/media/script/tiny_mce/plugins/emotions/img/"]
{
  border-radius: 10px;
}

#post-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-and-name img {
  margin-left: 10px;
}

.comment-raply-avatar img {
  margin-left: 2em;
}

.one-comment {
  border: var(--Border);
  padding: 10px;
  border-radius: var(--BorderRadius);
}

.comment-reply {
  margin-right: 30px;
}

.comment-body,
#follow {
  margin: 20px 0;
}

#follow a {
  font-weight: bold;
}

.comment-reply-body {
  border: var(--Border);
  padding: 4px;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  align-items: center;
  border-radius: var(--BorderRadius);
}

.avatar-and-name,
.comment-reply {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#pagination-section {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
}

.pagination-button,
#page-numbers a {
  background-color: var(--PaginationBGColor);
  border-radius: var(--BorderRadius);
  padding: 5px;
}

#pagination-section :not(:last-of-type) {
  margin-left: 5px;
}

.likeanddis {
  text-align: center;
}

#footer {
  margin: 20px 0;
}

.bComForm .commentAvatar span {
  margin: -19px 0 0;
  font-size: 12px;
}

.bComForm .sendbutton.hasCheckbox:hover,
select,
input[type="submit"]:hover {
  cursor: pointer;
}

.formField2 label {
  cursor: text;
}

.formField2 .fldcontent {
  margin-right: 8em;
}

.formField2 label {
  width: 7em;
}

textarea,
input,
select {
  font-family: var(--Font);
}

textarea,
input,
select,
body {
  font-size: unset;
}

.bComForm .sendbutton.hasCheckbox,
.bComForm .sendbutton {
  margin: 5px 40% 10px 40%;
  padding: 5px 0;
  width: -webkit-fill-available;
  width: -moz-available;
}

.text-content {
  margin-bottom: 20px;
}

#title h1 {
  margin-block-end: 0;
}

.comment-form {
  border: var(--Border);
  padding: 5px;
  border-radius: var(--BorderRadius);
}

.one-comment {
  margin-bottom: 15px;
}

p {
  margin: 1em 0;
}

[class*="۱۴۱۰"] ~ [class*="۱۴۱۰"],
[class*="۱۴۰۹"] ~ [class*="۱۴۰۹"],
[class*="۱۴۰۸"] ~ [class*="۱۴۰۸"],
[class*="۱۴۰۷"] ~ [class*="۱۴۰۷"],
[class*="۱۴۰۶"] ~ [class*="۱۴۰۶"],
[class*="۱۴۰۵"] ~ [class*="۱۴۰۵"],
[class*="۱۴۰۴"] ~ [class*="۱۴۰۴"],
[class*="۱۴۰۳"] ~ [class*="۱۴۰۳"],
[class*="۱۴۰۲"] ~ [class*="۱۴۰۲"],
[class*="۱۴۰۱"] ~ [class*="۱۴۰۱"],
[class*="۱۴۰۰"] ~ [class*="۱۴۰۰"],
[class*="۱۳۹۹"] ~ [class*="۱۳۹۹"],
[class*="۱۳۹۸"] ~ [class*="۱۳۹۸"],
[class*="۱۳۹۷"] ~ [class*="۱۳۹۷"],
[class*="۱۳۹۶"] ~ [class*="۱۳۹۶"],
[class*="۱۳۹۵"] ~ [class*="۱۳۹۵"],
[class*="۱۳۹۴"] ~ [class*="۱۳۹۴"],
[class*="۱۳۹۳"] ~ [class*="۱۳۹۳"],
[class*="۱۳۹۲"] ~ [class*="۱۳۹۲"],
[class*="۱۳۹۱"] ~ [class*="۱۳۹۱"],
[class*="۱۳۹۰"] ~ [class*="۱۳۹۰"],
[class*="۱۳۸۹"] ~ [class*="۱۳۸۹"],
[class*="۱۳۸۸"] ~ [class*="۱۳۸۸"],
[class*="۱۳۸۷"] ~ [class*="۱۳۸۷"],
[class*="۱۳۸۶"] ~ [class*="۱۳۸۶"],
[class*="۱۳۸۵"] ~ [class*="۱۳۸۵"] {
  display: none;
}

#post-title {
  padding-left: 6em;
  flex: 1;
}

#post-category {
  display: none;
  width: 9em;
  text-align: center;
}

#post-date {
  width: 5em;
  margin-left: 1em;
}

.selected {
  border: var(--Border);
  border-radius: var(--BorderRadius);
  padding: 5px;
}

/* کد تغییر ظاهر المان های بیان بلاگ */

pre.prettyprint {
  border: var(--Border);
  border-radius: var(--BorderRadius);
  padding: 5px;
}

pre {
  background-color: var(--BackgroundColor);
}

/* پایان کد تغییر ظاهر المان های بیان بلاگ */

/* Dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--BackgroundColor);
    color: var(--FontColor);
  }
  :root {
    --BorderColor: white;
    --FontColor: #ffffffde;
    --BackgroundColor: #252525;
  }
  .prettyprint > span {
    filter: invert(1);
  }
}

/* End of Dark mode */

@media (min-width: 1200px) {
  #post-category {
    display: unset;
  }
  #post-date {
    margin-left: 5em;
  }
  .comment-raply-avatar img {
    margin-left: 15px;
  }
}
