@font-face {
    font-family: Behdad;
    src: url(https://bayanbox.ir/download/521927549352849432/Behdad-Regular.ttf), url(https://bayanbox.ir/download/2566563334380828087/Behdad-Regular.otf), url(https://bayanbox.ir/download/8447146387304990502/Behdad-Regular.woff), url(https://bayanbox.ir/download/7309035304661827246/Behdad-Regular.woff2);
    font-weight: normal;
}

:root {
    --Font: Behdad, sans-serif;
    --BorderColor: Black;
    --Border: var(--BorderColor) solid 2px;
}

body,
h1,
h2,
h3 {
    font-family: var(--Font);
}

#one-post-in-list,
#header-menu ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#header-menu ul {
    list-style-type: none;
    padding-inline-start: 0;
}

body {
    margin: auto;
    max-width: 800px;
    padding: 0 40px;
}

#footer {
    text-align: center;
}

#post-category {
    border: var(--Border);
    border-radius: 5px;
    padding: 5px;
}

#one-post-in-list :not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

#title p {
    color: #666;
}

hr {
    border-style: solid;
}

img:not([src^="https://blog.ir/media/script/"]) {
    max-width: 100%;
    height: fit-content;
    border: var(--Border);
}

img[src^="https://blog.ir/media/script/tiny_mce/plugins/emotions/img/"] {
    border-radius: 10px;
}

#post-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one-comment img {
    margin-left: 15px;
}

.one-comment {
    border: var(--Border);
    padding: 10px;
}

.comment-reply {
    margin-right: 30px;
}

.comment-body,
#follow {
    margin: 20px 0;
}

#follow a {
    font-weight: bold;
}

.comment-reply-body {
    border: var(--Border);
    padding: 4px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.avatar-and-name,
.comment-reply {
    display: flex;
    flex-direction: row;
}

#pagination-section {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
}

.pagination-button,
#page-numbers a {
    background-color: var(--PaginationBGColor);
    border-radius: var(--BorderRadius);
    padding: 5px;
}

#pagination-section :not(:last-of-type) {
    margin-left: 5px;
}

.likeanddis {
    text-align: center;
}

#footer {
    margin: 20px 0;
}

.bComForm .commentAvatar span {
    margin: -19px 0 0;
    font-size: 12px;
}

.bComForm .sendbutton.hasCheckbox:hover,
select,
input[type=submit]:hover {
    cursor: pointer;
}

.formField2 label {
    cursor: text;
}

.formField2 .fldcontent {
    margin-right: 8em;
}

.formField2 label {
    width: 7em;
}

textarea,
input,
select {
    font-family: var(--Font);
}

textarea,
input,
select,
body {
    font-size: unset;
}

.bComForm .sendbutton.hasCheckbox,
.bComForm .sendbutton {
    margin: 5px 40% 10px 40%;
    padding: 5px 0;
    width: -webkit-fill-available;
}

#page-content {
    margin-bottom: 20px;
}

#title h1 {
    margin-block-end: 0;
}

.comment-form {
    border: var(--Border);
}

.one-comment {
    margin-bottom: 15px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #252525;
        color: #ffffffde;
    }
     :root {
        --BorderColor: white;
    }
}